.banner {
  height: 50vh;
  position: relative;
  background-image: url(./living-room-2732939_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.banner__info {
  background: black;
  color: white;
  padding-top: 16vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 34px;
  max-width: 300px;
}
.banner__info > button {
  background: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}
.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}
.banner__info > h5 {
  margin-top: 10px;
}
.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}
.banner__search {
  display: flex;
  flex-direction: column;
}
