.search {
  position: absolute;
  top: 35px;

  width: 100vw;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.search > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search > input {
  width: 539px;
  padding: 20px;

  border: none;
}
.search > input:focus {
  outline-width: 0;
}
.search > button {
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 579px;
}
.search > button:hover {
  background-color: white;
  color: #ff7779;
}
